.snackbar {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 60px;
  padding-top: 3.5px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3px;
  vertical-align: middle;
  color: var(--text-main);

  font-family: "Inconsolata", monospace;
  font-size: 18px;
  background-color: var(--text-secondary);
  opacity: 0%;
}

.snackbar span:nth-child(-n + 3) {
  font-family: "Inconsolata", monospace;
}

#hidden {
  visibility: hidden;
}

#show {
  animation: slideIn 5s;
}

@keyframes slideIn {
  0% {
    bottom: -10px;
    opacity: 0%;
  }

  30% {
    bottom: 10px;
    opacity: 60%;
  }

  80% {
    opacity: 60%;
  }

  100% {
    opacity: 0%;
  }
}
