*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--main);
  color: var(--text-main);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Color variables */
:root {
  --main: #1b1b1e;
  --text-main: #f1ecce;
  --text-secondary: rgba(241, 236, 206, 50%);
  --text-correct: #0c7c59;
  --text-incorrect: #d64933;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  min-width: 60%;
  position: fixed;
}

.nav-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.nav-items i {
  position: relative;
  top: -3px;
  font-size: 26px;
  vertical-align: middle;
  margin-right: 5px;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: color 250ms;
}

.nav-item:hover,
.nav-btn:hover {
  color: var(--text-secondary);
}

/* Hamburger button */
.nav-btn {
  z-index: 5;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.nav-btn span {
  width: 25px;
  height: 2px;
  background-color: var(--text-main);
  display: flex;
  transition: 0.3s;
  margin: 3px;
}

.nav-btn.open span {
  margin: -1px;
}

.nav-btn.open span:nth-child(1) {
  transform: rotate(-45deg);
}

.nav-btn.open span:nth-child(2) {
  opacity: 0;
}

.nav-btn.open span:nth-child(3) {
  transform: rotate(45deg);
}

.typer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 50%;
}

.typer .quote {
  font-family: "Lato", sans-serif;
  text-align: center;
  max-width: 45ch;
  font-size: 1.2rem;
}

.typer .quote span {
  color: var(--text-secondary);
  user-select: none;
}

.typer .quote span.correct {
  color: var(--text-correct);
}

.typer .quote span.incorrect {
  color: var(--text-incorrect);
}

.typer .quote span.space.incorrect {
  border-bottom: 2px solid var(--text-incorrect);
}

.typer .quote span.incorrect-space {
  background-color: var(--text-incorrect);
}

.typer .quote-input {
  width: 100%;
  height: 90%;
  bottom: 0;
  cursor: default;
  background: none;
  border: none;
  position: absolute;
  color: rgba(241, 236, 206, 0%);
  outline: none;
  font-size: 1px;
}

.typer .quote span.active {
  box-shadow: inset 2px 0px var(--text-secondary);
}

.typer .loader {
  border: 7px solid var(--main); /* Light grey */
  border-top: 7px solid var(--text-secondary); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 90%;
  }

  .nav-btn {
    display: flex;
  }

  .nav-items {
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: absolute;
    top: 50vh;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0%;
    transition: 250ms;
  }

  .nav-items .nav-item {
    margin: 10px 0px;
  }

  .nav-items.open {
    opacity: 100%;
    z-index: 2;
  }
  .typer .quote {
    max-width: 30ch;
  }
}
